.point:hover {
  cursor: pointer;
}

.pointer:hover {
  position: relative;
  top: -2px;
  box-shadow: 0 2px 3px #616161;
  cursor: pointer;
}

.grey:hover {
  background-color: #ccc;
}

.filterInput {
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  font-size: 1.1em;
  border: 1px solid #808080;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 5px;
}
